body {
    background-color: #1C1F26;
}

.container {
    width: 200px;
    height: 200px;
    margin: 50px 0 0 50px;
}

#j-button {
    width: 200px;
    height: 200px;
    border: none;
    box-shadow: 0px 5px 10px 0px #1E9899;
    border-radius: 10px;
    background-color: #1C1F26;
    padding: 0;
    margin: 0;
    will-change: transform;
    transition: transform 0.3s;
    color: #1E9899;
    font-family: sans-serif;
    font-size: 1.1em;
}

#j-button:hover{
    transform: scale(1.01);
}
